/* :host {
  display: flex;
  flex-direction: column;
  padding: 15px 20px 15px 20px;
  height: calc(100% - 30px);
  color: var(--primary-text-color);
} */

/* :host -> _order-info-container_ */

#_order-info-container_ {
  display: flex;
  flex-direction: column;
  padding: 15px 20px 15px 20px;
  height: calc(100% - 30px);
  color: var(--primary-text-color);
}

#status {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  padding: 0.2rem 0.3rem;
  border-radius: 12px;
}

#status img[active] {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

#status * {
  margin: auto;
}

#prod-info {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0px 20px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

#prod-info .prodname {
  grid-column: 1/3;
  display: block;
}

#prod-info #prod-info-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#prod-info #prod-info-left span {
  margin: auto 0;
}

#prod-info img {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  float: right;
}

#prod-info img:active {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#prod-info .prodname {
  font-size: 0.8rem;
  font-weight: normal;
  color: #fff;
}

#list {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

#list li {
  padding: 10px 0 7px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#list li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.prod-list {
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
}

#status #chart {
  font-size: 0.8rem;
  font-weight: bold;
}

#status #chart span {
  font-size: 1rem;
  font-weight: normal;
}

.totalaccount {
  display: inline-block;
  padding: 0 10px 0 5px;
  color: rgba(255, 255, 255, 0.7);
}

#total-pick-qty {
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

#content {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 15px;
}

#left-section,
#right-section,
#total-section {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

#content-rows {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
}

#top-section,
#bottom-section,
#total-section-rows {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

#picked-qty,
#total-pick-qty {
  text-align: right;
  font-size: 0.5rem;
  line-height: 1.2;
}

#picked-qty span,
#total-pick-qty span {
  display: block;
  height: 45px;
  font-size: 1.2rem;
}

iron-icon {
  height: var(--iron-icon-height, 1rem);
  margin: auto;
  fill: rgba(255, 255, 255, 0.4);
  --iron-icon-height: 1rem;
  --iron-icon-width: 1rem;
}

iron-icon:active {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  fill: #f9a21f;
}

button {
  background: #3f89c9;
  background: linear-gradient(to bottom, #1dc15e 0%, #0ea04d 100%);
  border-top: 0.06rem solid #5fefad;
  border-bottom: 0.1rem solid #056b42;
  border-left: none;
  border-right: none;
  border-radius: 12px;
  margin: 15px 0;
  padding: 0.3rem;
  color: #fff;
  text-shadow: 0px 0.03rem 0.03rem rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  outline: 0;
}

button:active {
  background: #90cc5d;
  background: linear-gradient(to bottom, #0ea04d 0%, #1dc15e 100%);
  text-shadow: 0.03rem 0rem 0.03rem rgba(0, 0, 0, 0.4);
}

button[ind-color="R"] {
  background: var(--chartcolor-type1);
  background: linear-gradient(to bottom, #ed4653 0%, #c03540 100%);
  border-top: 0.06rem solid #ff5d6a;
  border-bottom: 0.1rem solid #992c35;
}

button[ind-color="R"]:active {
  background: var(--chartcolor-type1);
  background: linear-gradient(to bottom, #c03540 0%, #ed4653 100%);
}

button[ind-color="B"] {
  background: var(--chartcolor-type5);
  background: linear-gradient(to bottom, #3f89c9 0%, #2972b1 100%);
  border-top: 0.06rem solid #91c5f3;
  border-bottom: 0.1rem solid #164f82;
}

button[ind-color="B"]:active {
  background: var(--chartcolor-type5);
  background: linear-gradient(to bottom, #2972b1 0%, #3f89c9 100%);
}

button[ind-color="Y"] {
  background: var(--chartcolor-type3);
  background: linear-gradient(to bottom, #e6b84b 0%, #cea034 100%);
  border-top: 0.06rem solid #fbd26f;
  border-bottom: 0.1rem solid #9e781e;
}

button[ind-color="Y"]:active {
  background: var(--chartcolor-type3);
  background: linear-gradient(to bottom, #cea034 0%, #e6b84b 100%);
}

.bar-chart {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.bar-chart .label {
  width: 10vw;
  font-size: 0.7rem;
  margin: auto 10px auto auto;
}

.bar-chart .bar {
  display: inline-block;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--default-border-radius);
}

.bar-chart .chart-value {
  display: inline-block;
  border-radius: var(--default-border-radius);
  margin: 5px;
  text-align: right;
  padding: 7px;
  font-size: 23px;
  font-weight: bold;
}

.bar-chart #progress-bar {
  background-color: #3f89c9;
}
