package ${module}.rest;

import java.util.List;
#if(${isDetailResources})
import java.util.Map;
import xyz.elidom.dbist.dml.Filter;
#end

import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseStatus;
import org.springframework.web.bind.annotation.RestController;

import ${module}.entity.${entity};
#foreach( ${detailService} in ${detailServices} )
import ${module}.entity.${detailService.name};
#end

import xyz.elidom.orm.system.annotation.service.ApiDesc;
import xyz.elidom.orm.system.annotation.service.ServiceDesc;
import xyz.elidom.sys.system.service.AbstractRestService;
import xyz.elidom.dbist.dml.Page;

@RestController
@Transactional
@ResponseStatus(HttpStatus.OK)
@RequestMapping("/rest${searchUrl}")
@ServiceDesc(description="${entity} Service API")
public class ${entity}Controller extends AbstractRestService {

	@Override
	protected Class<?> entityClass() {
		return ${entity}.class;
	}
  
	@RequestMapping(method=RequestMethod.GET, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Search (Pagination) By Search Conditions")  
	public Page<?> index(
		@RequestParam(name="page", required=false) Integer page, 
		@RequestParam(name="limit", required=false) Integer limit, 
		@RequestParam(name="select", required=false) String select, 
		@RequestParam(name="sort", required=false) String sort,
		@RequestParam(name="query", required=false) String query) {   
		return this.search(this.entityClass(), page, limit, select, sort, query);
	}

	@RequestMapping(value="/{id}", method=RequestMethod.GET, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Find one by ID")
	public ${entity} findOne(@PathVariable("id") ${type} id) {
		return this.getOne(this.entityClass(), id);
	}

	@RequestMapping(value="/{id}/exist", method=RequestMethod.GET, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Check exists By ID")
	public Boolean isExist(@PathVariable("id") ${type} id) {
		return this.isExistOne(this.entityClass(), id);
	}

	@RequestMapping(method=RequestMethod.POST, consumes=MediaType.APPLICATION_JSON_VALUE, produces=MediaType.APPLICATION_JSON_VALUE)
	@ResponseStatus(HttpStatus.CREATED)
	@ApiDesc(description="Create")
	public ${entity} create(@RequestBody ${entity} input) {
		return this.createOne(input);
	}

	@RequestMapping(value="/{id}", method=RequestMethod.PUT, consumes=MediaType.APPLICATION_JSON_VALUE, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Update")
	public ${entity} update(@PathVariable("id") ${type} id, @RequestBody ${entity} input) {
		return this.updateOne(input);
	}
  
	@RequestMapping(value="/{id}", method=RequestMethod.DELETE, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Delete")
	public void delete(@PathVariable("id") ${type} id) {
		this.deleteOne(this.entityClass(), id);
	}  
  
	@RequestMapping(value="${multiSaveUrl}", method=RequestMethod.POST, consumes=MediaType.APPLICATION_JSON_VALUE, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Create, Update or Delete multiple at one time")
	public Boolean multipleUpdate(@RequestBody List<${entity}> list) {
		return this.cudMultipleData(this.entityClass(), list);
	}

	#if(${isDetailResources})
	@RequestMapping(value="/{id}/include_details", method=RequestMethod.GET, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Find One included all details by ID")
	public Map<String, Object> findDetails(@PathVariable("id") ${type} id) {
		return this.findOneIncludedDetails(id);
	}
	#end
  
	#foreach( ${detailService} in ${detailServices} )
	#if($detailService.association == "one-to-many")
	@RequestMapping(value="${detailService.searchUrl}", method=RequestMethod.GET, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Search detail list by master ID")
	public List<${detailService.name}> find${detailService.name}(@PathVariable("id") ${type} id) {
		xyz.elidom.dbist.dml.Query query = new xyz.elidom.dbist.dml.Query();
		query.addFilter(new Filter("${detailService.refField}", id));
		return this.queryManager.selectList(${detailService.name}.class, query);
	}

	@RequestMapping(value="${detailService.multiSaveUrl}", method=RequestMethod.POST, consumes=MediaType.APPLICATION_JSON_VALUE, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Create, Update, Delete multiple details at one time")
	public List<${detailService.name}> update${detailService.name}(@PathVariable("id") ${type} id, @RequestBody List<${detailService.name}> list) {
		this.cudMultipleData(${detailService.name}.class, list);
		return this.find${detailService.name}(id);
	}

	#else
	@RequestMapping(value="${detailService.searchUrl}", method=RequestMethod.GET, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Find detail by master ID")
	public ${detailService.name} select${detailService.name}(@PathVariable("id") ${type} id) {
		xyz.elidom.dbist.dml.Query query = new xyz.elidom.dbist.dml.Query();
		query.addFilter(new Filter("${detailService.refField}", id));
		return this.queryManager.selectByCondition(${detailService.name}.class, query);
	}

	@RequestMapping(value="${detailService.multiSaveUrl}", method=RequestMethod.PUT, consumes=MediaType.APPLICATION_JSON_VALUE, produces=MediaType.APPLICATION_JSON_VALUE)
	@ApiDesc(description="Insert or Update")
	public ${detailService.name} upsert${detailService.name}(@PathVariable("id") ${type} id, @RequestBody ${detailService.name} input) {
		if(ValueUtil.isEmpty(input.getId())) {
			input.set${detailService.description}(id);
			return this.createOne(input);
		} else {
			${detailService.name} detail = this.selectMaterialDetail(id);
			ValueUtil.cloneObject(input, detail, "");
			return this.updateOne(detail);
		}
	}
	#end
	#end
}